<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Documents</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>Search Documents</h1>
    <hr>
    <form action="{{ url_for('search') }}" method="post">
        <label for="terms">Search:</label>
        <input class="search-box" type="text" name="terms" id="terms" placeholder="Enter terms separated by space">
        <!-- checkbox for is_stemmed -->
        <!-- label for is_stemmed -->
        <div class="blankie"></div>
        <label for="is_stemmed">Stem search terms</label>
        <input type="checkbox" name="is_stemmed" id="is_stemmed" checked>
        <div class="blankie"></div>
        <!-- slider for window_size  1 to 200 -->
        <label for="window_size">Search Window size between terms:</label>
        <input type="range" name="window_size" id="window_size" min="1" max="200" value="50">
        <!-- show slider value in text box -->
        <input type="text" name="window_size_text" id="window_size_text" value="50" readonly>

        <div class="blankie"></div>
        <input type="submit" value="Search">
    </form>
    <h2>Search Results for:</h2>
    <p class="search-pattern">{{ search_pattern }} </p>
    <hr>
    {% for file_dict in dict_list %}
    <div class="result-file"> <a class="result-link" href="{{ file_dict['url'] + get_args }}" target="_blank"> {{
            file_dict['fname'] }}</a> </div>
    {% endfor %}
    <footer>LNB (C)2022</footer>
    <script>
        // get slider value and display in text box
        var slider = document.getElementById("window_size");
        var output = document.getElementById("window_size_text");
        output.value = slider.value;
        slider.oninput = function () {
            output.value = this.value;
        }
    </script>
</body>

</html>