<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Documents</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/datatables.min.css') }}">
 

    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery-3.6.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='vendor/datatables.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/search.js') }}" defer></script>
</head>

<body>
    <h1>Search Documents</h1>
    <hr>
    <form action="{{ url_for('search') }}" method="post">
        <label for="terms">Search:</label>
        <input class="search-box" type="text" name="terms" id="terms" placeholder="Enter terms separated by space">
        <!-- checkbox for is_stemmed -->
        <!-- label for is_stemmed -->
        <div class="blankie"></div>
        <label for="is_stemmed">Stem search terms</label>
        <input type="checkbox" name="is_stemmed" id="is_stemmed" checked>
        <div class="blankie"></div>
        <!-- slider for window_size  1 to 200 -->
        <label for="window_size">Search Window size between terms:</label>
        <input type="range" name="window_size" id="window_size" min="1" max="200" value="50">
        <!-- show slider value in text box -->
        <input type="number" name="window_size_text" id="window_size_text" value="50" readonly>

        <!-- add numeric inputs for beg_year and end_year -->
        <div class="blankie"></div>
        <label for="beg_year">Beginning Year:</label>
        <input type="number" name="beg_year" id="beg_year" min="1945" max="1994" value="1945">
        <label for="end_year">Ending Year:</label>
        <input type="number" name="end_year" id="end_year" min="1945" max="1994" value="1994">
        <div class="blankie"></div>
        <input type="submit" value="Search">
    </form>
    <hr>
    <h2>Search Results for:</h2>
    <p class="search-pattern">{{ search_pattern }} </p>
    <p>From year {{ beg_year }} until year {{ end_year }} </p>
    <hr>
    {% if dict_list %}


    <table id="search_results_id" class="display">
        <thead>
            <tr>
                <th>File Name</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
    {% for file_dict in dict_list %}
    <tr class="result-file">
        <td>
            {{
                file_dict['fname'] }}
        </td>
        <td>
            <a class="result-link" href="{{ file_dict['url'] + get_args }}" target="_blank"> 
                {{ file_dict['url'] }}</a>
        </td>
</tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}
    <footer>LNB (C)2022</footer>
    <script>
        // get slider value and display in text box
        const slider = document.getElementById("window_size");
        const output = document.getElementById("window_size_text");
        output.value = slider.value;
        slider.oninput = function () {
            output.value = this.value;
        }
    </script>
</body>

</html>